.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
}

.logo img {
  height: 50px;
}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown li {
  padding: 10px;
}

.dropdown-parent:hover .dropdown {
  display: block;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.dropdown-parent span {
  display: inline-block;
  padding: 10px;
}

.username {
  padding: 10px;
}

.username:hover + .dropdown {
  display: block;
}

.dropdown-parent:hover .dropdown,
.username:hover + .dropdown {
  display: block;
}

.main-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.main-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.main-table th,
.main-table td {
  padding: 8px;
  text-align: left;
}

.main-table thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.main-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.main-table tbody tr:hover {
  background-color: #e6e6e6;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
  width: fit-content;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination li.active a {
  background-color: #333;
  color: #fff;
}

.pagination li a:hover {
  background-color: #e6e6e6;
}

.pagination li.active {
  background-color: blue;
  color: #ffffff;
}

.custom-select {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
}

.select-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selected-option {
  flex-grow: 1;
}

.dropdown-icon {
  margin-left: 8px;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.option {
  padding: 8px;
  cursor: pointer;
}

.option:hover {
  background-color: #f1f1f1;
}

.option.selected {
  background-color: #ddd;
}
