.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
  height: 50px;
}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown li {
  padding: 10px;
}

.dropdown-parent:hover .dropdown {
  display: block;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.dropdown-parent span {
  display: inline-block;
  padding: 10px;
}

.username {
  padding: 10px;
}

.username:hover + .dropdown {
  display: block;
}

.dropdown-parent:hover .dropdown,
.username:hover + .dropdown {
  display: block;
}

.main-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}
